.education, .about, .experience, .projects, .skills{
    padding: 50px;
}

.header{
    margin-bottom: 30px;
}

.projects{
    text-align: justify;
}

.Alert-Heading{
    text-align:left;
}

.sub-header{
    padding: 5px 0px;
}

.project{
    border-bottom: dashed thin grey;
}

.project-button{
    width: auto;
}

.intro-wrapper{
    background-color: #0A3E66;
}

.intro-background{
    background: url("./background.jpg") transparent no-repeat center;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.5;
    
}

.intro-img{
    border: solid thick #0A3E66;
    -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s;
}

.intro-img:hover{
    width: 220px;
    height: 220px;
}

.intro-info{
    position: absolute;
    color: white;
    top:150px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}

.intro-info h1{
    font-weight: bolder;
    letter-spacing: 0.4rem;
}

.intro-info span{
    color: orange;
}

.children{
    padding: 0;
}

.photo{
    border-right: 1px solid;
    border-bottom: 1px solid;
    box-shadow: 10px 20px 5px #0A3E66;
    -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s;
}

.photo:hover{
    width: 320px;
    height: 320px;
}

.about-photo{
    padding-top: 30px;
}

.about-detail{
    text-align: justify;
}

.about-name{
    font-weight: bold;
    color: orange;
}

.contact{
    margin: 10px 0px;
    padding: 20px 0px;
}

.contact-info{
    padding-top: 10px;
}

.contact-info .links{
    color: #0A3E66;
}

.download-button, .project-button{
    background-color: orange;
    border: none;
}

.download-button:hover, .project-button:hover{
    background-color: #0A3E66;
}


.progress-bar{
    background-color: #0A3E66;
}

.skill{
    margin-bottom: 15px ;
}

 .skill-detail{
    text-align: justify;
}

.skill-strength{
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
}

.skill-description{
    flex-grow: 1;
}


th{
    background-color:#0A3E66;
    color: white;
}


 .education .detail{
    padding-bottom: 30px;
}

.education .school, .education .degree{
    padding-bottom: 5px; 
}

.education .detail{
    font-size: 0.9rem;
    font-weight: bold;
}

.school {
    display: flex;
}

.school h5{
    flex-grow: 1;
    font-weight: bold;
}

.school small{
    font-size: 0.9rem;
}


/* MEDIA QUERIES */

@media(max-width:768px){
    .intro-info h1{
        font-size: 25px;
        letter-spacing: 0.1rem;
    }

    .intro-info h5{
        font-size: 15px;
    }

    .about-photo{
        display: flex;
        padding-top: 0px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .skill-detail{
        text-align: justify;
        margin-top: 30px;
    }
    
}