.toggle-button{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    box-sizing: border-box;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button-line{
    height: 2px;
    width: 25px;
    margin: 3px 0px;
    background: white;
}

.menu-nav-xs{
    min-height : 50px;
    background-color: #0A3E66;
}
/* 
.link{
    display: flex;
} */

.btn{
    flex-grow: 1;
}

.link-img{
    margin-top: 10px;
    padding: 5px;
}

.xs-nav{
    display: flex;
} 

@media(min-width:768px){
    .menu-nav-xs{
        display: none;
    }
}